<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Tipo de Movilidad </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" *ngFor="let p of  products">
                                <thead class=" text-primary">
                                    <th>
                                    Foto
                                    </th>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                         Codigo
                                    </th>
                                    <th>
                                        Cedula
                                    </th>
                                    <th>
                                        Nombres
                                    </th>
                                    <th>
                                        Apellidos
                                    </th>
                                    <th>
                                        Sexo
                                    </th>
                                    <th>
                                        Fecha de Nacimiento
                                    </th>
                                 
                                </thead>
                                <tbody>
                                    <tr>
                                       <td>
                                         
                                         <img src="{{p.img}}">

                                         </td>
                                        <td>
                                           {{p.id}}
                                        </td>
                                        <td>
                                           {{p.codigo}}
                                        </td>
                                        <td>
                                            {{p.cedula}}
                                            
                                        </td>
                                        <td>
                                            {{p.nombres}} 
                                        </td>
                                        <td>
                                            {{p.apellidos}}

                                        </td>
                                        <td>
                                            {{p.sexo}}
                                        </td>
                                        <td>
                                            {{p.fechaNacimiento}}
                                        </td>
                                        
                                        

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>