<div class="container table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Destino</th>
        <th scope="col">Fecha</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ p.codigo}} {{ p.last_name }}</td>
        <td>{{ p.place_flight }}</td>
        <td>{{ p.date_flight }}</td>
        <td>{{ p.status_flight }}</td>
        <td><a class="btn btn-outline-info">Editar</a></td>
      </tr>
    </tbody>
  </table>
</div>